[user]
	name = M.Aoyama
	email = maruuca.com@gmail.com
[init]
	defaultBranch = main
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[credential]
	helper = "!f() { /root/.vscode-server/bin/8b3775030ed1a69b13e4f4c628c612102e30a681/node /tmp/vscode-remote-containers-a0c3be7c-dcbe-4a19-a1d6-3de7fa4ba3d5.js git-credential-helper $*; }; f"
